
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');


*{
    margin: 0;
    padding: 0;
}

/* SCSS HEX -- CORES DA LOGO
$yellow-orange-color-wheel: #FF9800ff;
$gold-crayola: #FFCC80ff;
$wisteria: #CE93D8ff;
$yellow-orange: #FFB74Dff;
*/

body{   
    /*min-height: 600px;
    background: linear-gradient(30deg, #1ABC9C, #326273);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.bg-yellow-orange-wheel{
    background-color: #FF9800ff;
}
.bg-gold-crayola{
    background-color:  #FFCC80ff;
}
.bg-wisteria{
    background-color: #CE93D8ff;
}

.btn-blue-saphire{
    background-color: #1ABC9C;
    color: #fff;    
}

.btn-blue-saphire:hover{
    background-color: #326273;
    color: #fff;    
}

.btn-yellow-orange{
    background-color: #FF9800ff;
    color: #fff;    
}

.btn-yellow-orange:hover{
    background-color: #FFB74Dff;
    color: #fff;    
}

#brand-name{
    font-family: 'Orbitron', sans-serif;
}
